# -------------------------
# OS / Environment Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Python Bytecode
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environments
# -------------------------
venv/
env/
.venv/
.env/

# -------------------------
# Editors / IDE Metadata
# -------------------------
.vscode/
.idea/

# -------------------------
# Jupyter Notebook Cache
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Build / Packaging
# -------------------------
*.egg-info/
.eggs/

# -------------------------
# Logs / Temp
# -------------------------
*.log
*.tmp
*.bak

# -------------------------
# Algonauts Dataset
# -------------------------
data/



=======
